<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <!-- 
  8) Outsource your hobbies (the <li> elements) into a re-usable component
-->
    <main>


        <div id="vueapp">

            <h2>Liste de hobbies</h2>
            <p v-if="lastAct < 0">Hobby deleted!</p>
            <p v-bind:style="{backgroundColor: getColor(hobbies.length)}">Hobbies: {{hobbies.length}}</p>
            <ul>
                <li v-on:click="remove(el)" v-for="el in hobbies">{{el}}</li>
            </ul>
            <input type="text" id="hobbie" v-model="NewHobby"></input>
            <button v-on:click="addHobbie">New Hobby</button>
            <app-liste></app-liste>
            <app-liste></app-liste>
        </div>


    </main>
    <script src="app.js"></script>
</body>

</html>