body {
	width: 100vw;
	overflow-x: hidden;
}

a-scene {
	height: 300px;
	width: 600px;
  }

h1,
h2,
h3,
h4 {
	font-weight: normal;
}

body,
a {
	font-family: 'Oswald', sans-serif;
	color: #373938;
}

p,
input,
textarea {
	font-family: 'Ubuntu', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/*  */

/* styles du header  */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 10vh;
	min-height: 71px;
	background-color: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
}

header.on {
	background-color: #2d3234;
}

header > * {
	padding: 0 1em 0 0;
}


header #toggle {
	display: block;
	width: 35px;
	height: 30px;
	margin: 38px 10px 10px 30px;
}
header #toggle span:after,
header #toggle span:before {
	content: "";
	position: absolute;
	left: 0;
	top: -12px;
}
header #toggle span:after {
	top: 12px;
}
header #toggle span {
	position: relative;
	display: block;
}
header #toggle span,
header #toggle span:after,
header #toggle span:before {
	width: 100%;
	height: 5px;
	background-color: #2d3234;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
}
header #toggle.on span {
	background-color: transparent;
}
header #toggle.on span:after,
header #toggle.on span:before {
	background-color: white;
}
header #toggle.on span:before {
	transform: rotate(45deg) translate(5px, 9px);
}
header #toggle.on span:after {
	transform: rotate(-45deg) translate(7px, -12px);
}

header > a {
	width: 9vh;
	height: 9vh;
	max-height: 9vh;
	max-width: 9vh;
	min-width: 45px;
	min-height: 45px;
	background-image: url(images/logo.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	text-indent: -300px;
}

header > nav {
	display: flex;
    flex-direction: row-reverse;
}

header > nav > ul {
	display: none;
}

header.on > nav > ul {
	display: flex;
	flex-direction: row;
	font-size: 1.6em;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0;
}

header > nav > ul > li {
	margin-left: 1em;
	width: max-content;
}

header > nav > ul > li:first-of-type {
	margin-left: 0;
}

@keyframes fermetureDerLien {
	from {
		background-color: white;
	}
	to {
	}
}

header > nav > ul > li:last-of-type {
	border: solid white;
	padding: 5px 15px;
	border-radius: 15px;
	animation: fermetureDerLien 0.2s ease-in;
}

@keyframes ouvertureDerLien {
	from {
	}
	to {
		background-color: white;
	}
}

header > nav > ul > li:last-of-type:hover {
	background-color: white;
	animation: ouvertureDerLien 0.2s ease-out;
}

header > nav > ul > li > a {
	color: white;
	position: relative;
}

@keyframes fermetureLien {
	from {
		width: 100%;
	}
	to {
		width: 0%;
	}
}

header > nav > ul > li:nth-child(-n + 4) a::after {
	position: absolute;
	bottom: 3px;
	left: 50%;
	content: " ";
	width: 0%;
	height: 2px;
	transform: translate(-50%);
	background-color: white;
	animation: fermetureLien 0.2s ease-in;
}

@keyframes ouvertureLien {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

header > nav > ul > li:nth-child(-n + 4) a:hover::after {
	width: 100%;
	animation: ouvertureLien 0.2s ease-out;
}

@keyframes fermetureDerLienA {
	from {
		color: #2d3234;
	}
	to {
		color: white;
	}
}

header > nav > ul > li:last-of-type a {
	color: white;
	animation: fermetureDerLienA 0.2s ease-in;
}

@keyframes ouvertureDerLienA {
	from {
		color: white;
	}
	to {
		color: #2d3234;
	}
}

header > nav > ul > li:last-of-type a:hover {
	color: #2d3234;
	animation: ouvertureDerLienA 0.2s ease-out;
}

/*  */

/* intro */

#intro {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 99vh;
	background-image: url(../styles/images/eolienne.jpg);
	background-size: cover;
	background-position: center center;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 3vw;
}

#intro h1 {
	margin: 0;
	font-weight: lighter;
}

#intro span {
	color: #71a333;
}

#intro * {
	text-shadow: white 0px 0px 1px;
}

/*  */

/* presentation */

#presentation {
	font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    box-shadow: black 0px -1px 21px;
    z-index: 1;
}

#presentation > p {
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 1vh;
	margin-top: 0.5em;
}

#presentation > h1 {
	font-size: 4em;
	margin-top: 0;
	margin-bottom: 5vh;
}

#presentation .competences {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	text-align: center;
	flex-wrap: wrap;
}

#presentation .competences div {
	border: solid #71a333 5px;
	padding: 0 20px;
	margin: 0.5em;
	margin-bottom: 2em;
	max-width: 700px;
	min-width: 270px;
}

#presentation .competences div h2 {
	margin: 3vh 0;
}

#presentation .competences ul li  p {
	margin: 2vh 0;
}

#presentation .competences div ul {
	padding: 0;
}

/*  */

/* activite et client */

@keyframes disparitionText {
	0% {
		display: block;
		opacity: 1;
	}
	99% {
		display: block;
		opacity: 0;
	}
	100% {
		display: none;
	}
}

#actcli {
	overflow-x: hidden;
	position: relative;
	height: max-content;
}

#actcli > #activite, #actcli > #client {
	min-height: 35vh;
	padding: 2vw 4vw;
	display: block;
	
}

#actcli > #activite {
	padding-bottom:calc(500px - 40vw);
	padding-top: 1em;
	background-color: #8cbf46;
	color:white;
}

#actcli > #client {
	padding-top:calc(500px - 40vw);
}



#actcli > #activite > ul, 
#actcli > #client > ul  {
	max-width: 75%;
	width:300px;
	min-width: 40vw;
	font-size: 1.5em;
}

#actcli > #activite > h1,
#actcli > #client > h1 {
	font-size: 3em;
}

#actcli > #activite > ul > li,
#actcli > #client > ul > li {
	display: none;
	animation: disparitionText 1s ease;
}

@keyframes apparitionText {
	0% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

#actcli > #activite > ul > li.actif,
#actcli > #client > ul > li.actif {
	display: block;
	animation: apparitionText 1s ease;
}

#actcli > #sphere {
    position: relative;
    float: right;
	right: -400px;
	top: -100px;
    color: white;
    font-size: 2.4em;
    background-image: url(images/bulle-vr.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 1000px;
    height: 1000px;
}

#actcli > #sphere > .sphere {
    width: calc(50% - 1em);
    text-align: right;
    height: auto;
    margin-left: 1em;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
}

#actcli > #sphere > ul {
	position: absolute;
	top:50%;
	right:50%;
	margin:0;
	padding:0;
}

#actcli > #sphere > ul > li {
	border-radius: 1000px;
    position: absolute;
    transform: translate( calc(-34vw - 65px) , calc(-34vw - 30px)) rotate(0deg);
    transform-origin: calc(34vw + 65px) calc(34vw + 30px);
    background-color: #8cbf46;
    color: white;
    width: 150px;
    height: 140px;
    background-size: 80%;
    background-position: center -10px;
    background-repeat: no-repeat;
    text-align: center;
    border: solid white 1px;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 21px 21px 31px 21px;
	align-items: center;
	animation: ombreOff 0.1s ease-out;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;
}

#actcli > #sphere > ul > li.actif {
	animation: ombreOn 0.1s ease-out;
	border:none;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 7px;
}

#actcli > #sphere > ul > li.h2activite {
	border: solid #8cbf46 1px;
	background-color:white;
	color:#8cbf46;
	background-size:30%;
	background-position: center 14px;
}

#actcli > #sphere > ul > li > h2 {
	margin:0;
}

#actcli > #sphere > ul > li.ener {
	background-image: url(images/logo-eolienne.png);
}

#actcli > #sphere > ul > li.tech {
	background-image: url(images/logo-feuille.png);
}

#actcli > #sphere > ul > li.sant {
	background-image: url(images/logo-croix.png);
	background-size: 40%;
	background-position: center 8%;
}

#actcli > #sphere > ul > li.indu {
	background-image: url(images/logo-industrie.png);
}

#actcli > #sphere > ul > li.com {
	background-image: url(images/logo-commerce.png);
}

#actcli > #sphere > ul > li.inst {
	background-image: url(images/logo-institu.png);
}

#partenaires {
	display: flex;
	flex-direction: column;
	margin: 10vw;
	margin-top:0;
	font-size: 2em;
}

#partenaires > ul {
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 0;
	margin: 1em 0;
}

#partenaires > ul > li {
	margin: 2em;
}

#partenaires > ul > li > a > img {
	max-height: 15vh;
	max-width: 70vw;
}

footer {
	min-height: 100vh;
	width: 100vw;
	color: white;
}

#contact {
	width: 100vw;
	background-image: url(images/Luc-fournier.jpg);
	background-size: cover;
	border: solid 20px #8cbf46;
	box-sizing: border-box;
	padding: 3vw;
    padding-top: 0;
	position: relative;
	overflow: hidden;
}

#contact:after {
	content: " ";
	position: absolute;
	width: 200vw;
	height: 150vh;
	background-color: #8cbf46;
	top: 50%;
	right: -1000px;
	transform: rotate(-13deg);
}

#contact > * {
	z-index: 1;
	position: relative;
}

#contact > h1 {
	font-size: 5em;
	margin: 0;
}

#contact > h1 > span:first-of-type {
	font-size: 0.7em;
	margin: 0;
}

#contact > h1 > span:last-of-type {
	font-size: 1.3em;
}

#contact > ul.social {
	margin-top: 3em;
	display: flex;
	flex-direction: row;
	padding: 0;
}

#contact > ul.social a {
	width: auto;
}

#contact > ul.social a img {
	width: 8vw;
	margin-right: 1em;
	min-width: 50px;
}

#contact > .mobile {
	font-size: 2em;
	position: absolute;
	bottom: 40px;
	left: calc(25vw - 246px);
}

#contact > .mobile > * {
	margin: 0;
}

#contact > .mobile > p {
	margin-top: 0.5em;
	line-height: 25px;
}

#contact > .mobile > p > span {
	font-size: 0.548em;
	margin: 0;
}

#contact > .mobile > h2 {
	font-size: 1.66em;
}

#contact > ul.social img {
	width: 100%;
}

#contact > .email {
	width: calc(50vw - 40px);
	float: right;
	margin-top: calc(400px - 15vw);
	min-width: 700px;
}

#contact > form.email > fieldset {
	border: none;
}

#contact > form.email > fieldset > .gridcontainer {
	display: grid;
	grid-template-areas: 'email email societe societe' 'content content content content' 'captcha captcha bouton bouton';
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 6fr auto;
	grid-gap: 20px;
}

#contact > div > p > a {
	color:white;
}

@keyframes ombreOff {
	from {
		box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 7px;
	}
	to {
		box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0;
	}
}

#contact > form.email > fieldset > .gridcontainer > * {
	justify-self: stretch;
	position: relative;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0;
	animation: ombreOff 0.1s ease-out;
	border: none;
}

@keyframes ombreOn {
	from {
		box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0;
	}
	to {
		box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 7px;
	}
}

#contact > form.email > fieldset > .gridcontainer > *:focus {
	outline: none;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 7px;
	animation: ombreOn 0.1s ease-out;
}

#contact > form.email > fieldset > .gridcontainer > #Mail {
	grid-area: email;
	width: calc(100% - 20px);
}

#contact > form.email > fieldset > .gridcontainer > #Societe {
	grid-area: societe;
	width: calc(100% - 20px);
}

#contact > form.email > fieldset > .gridcontainer > #MailContent {
	grid-area: content;
}

#contact > form.email > fieldset > .gridcontainer > div.g-recaptcha {
	grid-area: captcha;
	padding: 0;
}

#contact > form.email > fieldset > .gridcontainer > #click {
	grid-area: bouton;
	color: white;
	background-color: #2d3234;
	box-shadow: none;
	border: solid white 0px;
	border-radius: 50px;
	height: 78px;
	padding: 0;
	width: 175px;
	justify-self: end;
}

#contact > form.email > fieldset > .gridcontainer > #click:hover {
	border: solid white 2px;
}

#legal {
	box-sizing:border-box;
	padding: 1em;
	display: inline-flex;
	flex-wrap: wrap;
	background-color: #373938;
	width:100%;
	justify-content: space-between;
}

@media (max-width: 1250px) {
    #actcli > #sphere {
		font-size: 2.14vw;
    	width: 60vw;
		height: 60vw;
		right: -25%;
		margin-bottom: 12vw;
		top: -200px;
	}

	#contact > h1 {
		font-size: 7vw;
		margin: 0;
	}

    #contact > .mobile {
        position: relative;
        margin-top: calc(15vw - 60px);
        bottom: 0;
        left: 0;
		display: block;
		text-align: right;
		font-size:5vw;
        /* float: right; */
    }

    #contact > .email {
		width: 100%;
		min-width: 0;
		margin-top: 1em;
		
    }
    
    #contact:after {
        top: calc(32vw * 1.8 + 0px);
    	right: -250px;
    }

	@media (max-width: 900px) {
		/*   menu */
		header > a > h2 {
			z-index: 1;
		}
		
		header > a {
			max-width: 7vh;
			max-height: 8vh;
		}
		header.on > nav > ul {
			box-sizing: border-box;
			padding-left: 1em;
			display: flex;
			background-color: #2d3234;
			width: 100vw;
			height: 90vh;
			position: absolute;
			bottom: -90vh;
			left: 0;
			flex-direction: column;
			align-items: flex-start;
		}
		header.on > nav > ul > li:last-of-type {
			margin-top: calc(37vh - 140px);
			width: calc(100vw - 3em);
			min-width: 6em;
			text-align: center;
			margin-bottom: 1.5em;
		}
		header.on > nav > ul > li {
			font-size: 29pt;
			margin: 0 0 1em 0;
		}

		#intro {
			font-size: 1.5em;
		}

		#actcli > #sphere > ul > li {
			width:16.6vw;
			height:15.5vw;
			font-size: 105%;
			padding: 2.3vw 2.3vw 3.4vw 2.3vw;
		}

		#actcli > #sphere > ul > li.ener {
			background-position: center 1vw;
		}

		#actcli > #sphere > ul > li.tech {
			background-position: center 1vw;
		}


		@media (max-width: 770px) {
			
			#presentation > h1 {
				font-size: 3em;
			}

			#actcli > #activite {
				padding-bottom:calc(300px - 20vw);
			}
			
			#actcli > #client {
				padding-top:calc(200px - 20vw);
			}

			#actcli > #sphere  {
				margin:0;
				top: -30vw;
			}

			#partenaires {
				margin: 10vw 5vw;
				font-size: 1.4em;
			}

			#contact > .email {
				width: 100%;
				min-width: 0;
				margin-top:1em;
			}

			#contact > form.email > fieldset > .gridcontainer {
				grid-template-areas: 'email email' 'captcha societe' 'content content' 'bouton bouton';
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr auto 6fr 2fr;
			}

			#contact > form.email > fieldset > .gridcontainer > #click {
				width: 100%;
				height: 60px;
			}

			@media (max-height: 600px) {
				header.on > nav > ul > li:last-of-type {
					margin-top: calc(44vh - 221px);
				}


			}
			@media (max-width: 600px) {
				#intro h1 {
					font-size: 1.4em;
				}
				#intro p {
					font-size: 0.8em;
				}
				#presentation {
					font-size: 1em;
				}
				#presentation > h1 {
					font-size: 2em;
				}
				#presentation > p {
					font-size: 0.7em;
				}

				#presentation .competences div {
					width: 270px;
					max-width: 90vw;
					min-width: 0px;
				}

				#contact > h1 {
					font-size: 8vw;
					margin: 0;
				}
				#contact > .mobile {
					font-size:1em;
				}
				#contact > .mobile > p {
					line-height: 15px;
				}
				#contact > form.email > fieldset > .gridcontainer {
					grid-template-areas: 'email email' 'societe societe' 'content content' 'captcha captcha'
						'bouton bouton';
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 1fr 4fr auto 2fr;
				}

				#contact > form.email > fieldset > .gridcontainer > div.g-recaptcha {

					justify-self: center;
				}

				@media (max-width: 430px) { 
					#actcli #activite {
						padding-bottom: 230px;
						font-size: 0.8em;
					}
					#actcli > #client {
						padding-top: 150px;
						font-size: 0.8em;
					}
					#actcli > #sphere {
						top:-130px;
						width:260px;
						height:260px;
						font-size: 9px;
					}
					#actcli > #sphere > ul > li {
						width:72px;
						height:66px;
					}
					#actcli > #sphere > .sphere {
						margin-left: 0;
						width: calc(50% + 1em);
						font-size: 1.3em;
					}

					#contact > .mobile {
						margin-top: 1em;
					}
					#contact:after {
						top: calc(32vw + 97px);
						transform: rotate(-3deg);
					}

				}
			}
		}
	}
}
