.preload{
    z-index: -2;
    width: 100%;
    height: 100%;
    color: #868686;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.preload > img {
    max-width: 40%;
    max-height: 40%;
}
.preload > h1 {
    max-width: 80%;
    max-height: 80%;
}

.hidden,#eye.hiding #view,#eye.viewing #hide, #playpause.playing #play,  #playpause.pausing #pause, #overlay.closed {
    display: none;
}

.ARUI {
    position: absolute;
    background-color: white;

}

.yeuxMenu {
    top : 0;
    right : calc(100% - 66px);
}

.Timeline{
    bottom: 0;
    right:0;
    width: 100%;
}

#eye img, #playpause img {
    width : 50px;
    height : 50px;
}

#overlay {
    position: absolute;
    width: 80vw;

    height: 50px;

    display: inline-flex;

    justify-content: space-between;

    align-items: center;

    top: -54px;

    background-color:
        white;

    right: 10vw;
}
