#headcontent {
    position: absolute;
    flex-direction: row;
    text-align: left;
    padding:0;
    margin:0;
}

#headcontent img {
    margin:5.2rem 5.6rem;
}

#headcontent .tagline {
    width: 40%;
}

#headcontent .tagline h1 {
    margin-bottom: 3rem;
}

.burger__button {
    display: none;
}
.burger__wrapper {
    width: 100%;
    height: 480px;
    transform: none;
    position: relative;
    background-color: transparent;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr 6rem;
    grid-template-areas:
        "empty logarea"
        "empty queryarea"
        "menuarea menuarea";
    
}

#navcontent {
    background-color:#42bbc3;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height:100%;
    margin: 0;
}

#query {
    align-self: end;
    justify-self: end;
    margin-right:5.5rem;
    margin-bottom:2rem;
    padding:0;
}

#query #textquery,#query #textquery:focus {
    width: 13rem;
    color: black;
}

#login {
    justify-content: flex-end;
    margin-right: 5.5em;
    width: auto;
    margin-top:1em;
    align-self: baseline;
    color:#e74a1d;
}
#login a:first-child {
    margin-right:2rem;
}

#login a:first-child::after {
    content:"je m'abonne";
    color: #e74a1d ;
}

#login a:last-child::after {
    content:"je me connecte";
    color:#e74a1d;
}

#login a img {
    padding-right:1rem;
}
main {
    position: relative;
    flex-wrap: nowrap;
}
main>a {
    position: absolute;
    bottom: 42px;
}
main > section {
    width: calc(50% - 9em);
}
main > section:first-child {
    margin-right:3em;
}
main > section:last-child {
    margin-left:3em;
}

#news ul li, #blogue > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#news ul li img, #blogue > div img {
    max-height: 100%;
    height: 100%;
    width: auto;
    transform: translateX(-25%);

}
main .imgcontainer {
    overflow: hidden;
    height:100%;
}
#blogue .content {
    padding-left:1em
}
#video{
    padding-top:1em;
}