#headcontent {
    position: absolute;
    flex-direction: row;
    text-align: left;
    padding:0;
    margin:0;
}

#headcontent img {
    margin:5.2rem 5.6rem;
}

#headcontent .tagline {
    width: 40%;
}

#headcontent .tagline h1 {
    margin-bottom: 3rem;
}

.burger__button {
    display: none;
}
.burger__wrapper {
    height: 480px;
    transform: none;
    position: relative;
    background-color: transparent;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 3fr 1.5fr;
    grid-template-areas:
        "empty logarea"
        "empty queryarea"
        "menuarea menuarea";
    
}

#navcontent {
    background-color:#42bbc3;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height:100%;
    margin: 0;
}

#query {
    align-self: end;
    justify-self: end;
    margin-right:5.5rem;
    margin-bottom:2rem;
    padding:0;
}

#query #textquery {
    width: 13rem;
}

#login {
    justify-content: flex-end;
    margin-right: 5.5em;
    width: auto;
    align-self: baseline;
}

#login:first-child.img::after {
    content:"je m'abonne"
}

#login:last-child.img::after {
    content:"je me connecte"
}