#headcontent {
    flex-direction: row;
    text-align: left;
    padding:0;
    margin:0;
}

#headcontent img {
    margin:5.2rem 5.6rem;
}

#headcontent .tagline {
    width: 40%;
}

#headcontent .tagline h1 {
    margin-bottom: 3rem;
}

.burger__button {
    display: none;
}