/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles

   This code is developped for Le Curieux
   ========================================================================== */

/*






















                GENERAL CODE


*/
body {
    color: #e74a1d;
    font-family: Luckiest Guy, monospace;
    box-sizing: border-box;
}
p,
.tagline h1,
a,
input,
time,
textarea {
    font-family: Cabin, serif;
}
a {
    text-decoration: none;
}
time {
    font-style: italic;
}
img {
    width:100%;
    height:auto;
}
button {
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain
}
ul {
    list-style: none;
    padding-left:0;
}

/*


                BURGER CODE


*/
.burger__button {
    text-indent: 1000px;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s ease;
    z-index: 1050;
}
.burger__button__icon {
    display: inline-block;
    position: absolute;
    background: #42bbc3;
    margin: 0 auto;
    width: 30px;
    height: 3px;
    top: 50%;
    left: 0;
    right: 0;
    transition: all 0.4s ease 0.1s;
    transform: translateY(-1.25px);
}
.burger__button__icon:before,
.burger__button__icon:after {
    content: "";
    position: absolute;
    margin: 0 auto;
    background: #42bbc3;
    width: 30px;
    height: 3px;
    left: 0;
    right: 0;
    transition: all 0.4s ease 0.1s;
}
.burger__button__icon:before {
    bottom: 10px;
}
.burger__button__icon:after {
    top: 10px;
}
.burger__button.open .burger__button__icon {
    background: transparent;
}
.burger__button.open .burger__button__icon:before,
.burger__button.open .burger__button__icon:after {
    background: #fff;
    transform-origin: 0 50%;
    width: 32px;
}
.burger__button.open .burger__button__icon:before {
    transform: rotateZ(0.67474094rad);
}
.burger__button.open .burger__button__icon:after {
    transform: rotateZ(-0.67474094rad);
}
.burger__wrapper {
    transition:all 0.5s linear;
    transform: translateY(-100vh);
    background-color: #42bbc3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.burger__button.open + .burger__wrapper {
    transition:all 0.5s linear;
    transform: translateY(0);
}
/*


                HEADER CODE


*/
.burger__wrapper {
    display:grid;
    grid-template-rows: 1fr 15fr 1fr;
    grid-template-areas: "queryarea"
    "menuarea"
    "logarea";
}
.burger__wrapper a, .burger__wrapper p, .burger__wrapper input {
    color:white;
}
#navcontent {
    grid-area: menuarea;
    text-transform: uppercase;
    display: grid;
}
#navcontent a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
#navcontent a:hover, #navcontent a:focus,#navcontent a.actual {
    border: 2px solid #42bbc3;
    color: #42bbc3;
    background-color:white;
}
#query input.submitbouton {
    visibility: hidden; 
    position: absolute;
}
#query {
    grid-area:queryarea;
    padding:10px;
}
.burger__wrapper img {
    width:25px;
}
#query #textquery{
    box-sizing: border-box;
    background-color: transparent;
    margin: 0 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #e74a1d;
    transition: width 0.3s ease-out;
    width: 0;
}
#query #textquery:focus {
    transition: width 0.5s ease-out;
    width: calc(100% - 90px);
}
#login {
    grid-area:logarea;
    box-sizing: border-box;
    display: flex;
    padding: 5px 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/*


                INTRO CODE 


*/
#headcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:1em;
    margin-bottom:2em;
    font-size: 1.56rem;
}
#headcontent img {
    width: 80vw;
    max-width: 390px;
    margin-top: 84px;
margin-bottom: 1em;
}
#headcontent h1{
    font-size:2.5rem;
}
/*


                MAIN CODE ACCUEIL


*/
main {

    position: relative;
    display: flex;
    flex-wrap: wrap;
}
main > section {
    box-sizing: border-box;
    margin: 2em;
    width: 100%;
   
}
main > section:last-of-type {
     margin-bottom:6em;
}
#news ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e74a1d;
    color: white;
    margin-bottom:1.5rem;
}
#news ul li img {
    width:100%;
    height:auto;
}
#news .content {
    padding: 1.5rem;
    text-align: justify;
    position: relative;
}

#news .content h2{
    margin-top: 0;
    font-size:1.4em;
}
#news a {
    text-transform: uppercase;
    color: white;
    padding:2px 4px;
    border-bottom:solid white 2px;
    border-right:solid white 2px;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
}
#news  a:hover {
    border-bottom:none;
    border-right:none;
    border-top:solid white 2px;
    border-left:solid white 2px;
}
.like {
    background-image: url(imginterface/aime.png);
}
.comment {
    background-image: url(imginterface/commentaire.png);
}
.share {
    background-image: url(imginterface/partager.png);
}
#blogue > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#blogue > div img {
    max-height: 100%;
    height: 100%;
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);

}
#blogue .interactions {
    text-align: end;
}
#blogue .content {
    padding-left:1em
}
main>a {
    position: absolute;
    bottom: 42px;
    left:50vw;
    transform: translateX(-50%);
    color:black;
}
main .imgcontainer {
    overflow: hidden;
    height: 100%;
    position: relative;
}
main > a:before {
    content: " ";
    width: 1em;
    background-image: url(imginterface/ampoule.png);
    height: 1em;
    position: absolute;
    left: -1.5em;
    background-size: contain;
}
/*


                CODE CONTACT FORMULAIRE


*/
#contactform {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}     
#contactform > * {
    border: solid 2px #42bbc3;
    color : #42bbc3;
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    width: calc(100% - 2em);
}
#contactform > *:last-child {
    width: 150px;
}
#contactform > *::placeholder, #contactform > *:last-of-type {
    text-transform: uppercase;
}
#directcontact *:not('h1') {
    color:black
}
#contact section:last-child h2 {
    font-size: 1.2em;
}
#contact .content {
    display: flex;
    flex-direction: column;
}
#contact .content > * {
    width:100%
}
.socialliens li {
    display: flex;
}
.socialliens a{
    width: 100%;
    padding: 1em 0;
    color:black;
}
/*


                CODE FOOTER


*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
    color:#909090;
}
footer ul {
    display: inline-flex;
}
footer ul li {
    padding:0 15px;
}
/*























*/
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
