footer {
    width: 75vw;
    margin: auto;
    border-top: 2px dashed #42bbc3;
}

main > section {
    margin: 6em;
}

#news .content h2 {
    margin-top: 0;
    font-size: 1.6em;
}

#contact .content {
    flex-direction: row;
}
figure {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
}

figure figcaption {
    grid-column: 1 / 2;
    grid-row: 1/2;
    padding:1em;
}
figure img {
    grid-column: 2/3;
    grid-row: 1/2;
}
